/* write your override styles here */
div#wall #tag-4 {
    background: url(../images/tag-4.png) no-repeat;
    z-index: 5;
    display: block;
}

#wall .tag-1,
.parent
#tag-3
body #wall #tag-2,
div#wall #tag-3.slick.wicked {
    display: none;
}

body div#wall div.parent div > #tag-7.slick {
    background: url(../images/tag-7.png) no-repeat;
    z-index: 1;
    display: block;
}